#[basic conifg]
dataset.name = "GIST1M"
#dataset.name = "SIFTSMALL"
#dataset.name = "SIFT1M"
#dataset.name = "SIFT1B"
dataset.data_root = "/media/dell01/hdd0/download/pq-dataset"
#dataset.name = "DEEP10M"
#dataset.groundtruth_path = "deep10m/groundtruth.1M.ibin"
#dataset.name = "DEEP1M"
dataset.groundtruth_add1 = 0
dataset.ntrain = 500000
dataset.nbase = 1000000000
model.m = 10
model.h0 = 256

#[large config]
large.enabled = 1
large.write_vector_bucket = 1
large.profile_timing = 0
large.output_dir=./outputs_opt
large.tmp_dir=./tmp_opt
large.train_block=200000
large.base_block=200000
large.linkage_coeff_codec.enabled=1
large.linkage_coeff_codec.bits_per_layer = [6,6,6,6,6] // ,6,6,6,6,6
large.linkage_coeff_codec.p_first_candidates=[99.98]
large.linkage_coeff_codec.p_rest_candidates=[99.98]
large.linkage_coeff_codec.granularity=cluster //cluster,layer
large.linkage_coeff_codec.use_weighted_quantile=1
large.linkage_coeff_codec.q_refine_sweeps=3
large.linkage_coeff_codec.q_refine_max_layer=0
large.protect_existing_outputs=0
large.cleanup.enabled=1
large.cleanup.preset=eval_int8_min   //dev_all eval_both eval_int8_min
large.base_linkage_store_coeffs_f32 = 1
large.archive_log=1

#[eval]
eval.base.use_ivf = true
eval.disk_norm2_mode = lut  #float | lut | lut_cluster | lut_sqrt | lut_log1p | lut_tail_weighted | lut_piecewise
eval.disk_norm2_lut_log_alpha = 1.5
eval.metric_mode = 0
eval.metric_gt_topks = [10]
dataset.k = 100
eval.disk_norm2_lut_kmeans_niter = 50
eval.base.nprobe = 16
eval.linkage.use_ivf_disk = true
eval.linkage.nprobe = [256] #16,32,64
eval.linkage.query_block = 1000
eval.base.enabled=0
eval.linkage.enabled=1
eval.linkage.coeff_mode = "int8" //int8 float both
eval.linkage.ivf_probe_mode = exact //exact hier2 hnsw
eval.linkage.ivf_hier2_top_coarse = 8
eval.linkage.ivf_hnsw_M = 32
eval.linkage.ivf_hnsw_ef_construction =200
eval.linkage.ivf_hnsw_ef_search = [256]
eval.linkage.gpu_scan_enable=0
eval.linkage.gpu_norm_enable=0
eval.linkage.gpu_scan_cache_mb = 20480
eval.base.warmup = 0
eval.base.repeat = 1
eval.linkage.warmup = 0
eval.linkage.repeat = 1
eval.bench.quiet = 0
eval.linkage.norm2_store_float = 1
eval.linkage.norm2_store_int8 = 1
eval.linkage.archive_eval_result =1
eval.linkage.louds_huffman_bench_times = 1
eval.linkage.preload_clusters_io_threads=0
eval.linkage.parent_louds_native_eval=0


#[switch]
advanced.eval_only = 1
train.init_enabled = 1
train.enabled = 1
base.encode.enabled = 1
base.linkage.enabled = 1
train.ckpt.enabled= 1
train.ckpt.every_R=5
train.ckpt_after_init_basic=1
train.exit_after_ckpt_init_basic = 0
large.base_basic_checkpoint = 1
large.linkage_checkpoint=1

#[runtime-init]
runtime.cuda_pool_size_init_linkage = 24
runtime.cuda_linkage_many_nodes_max_pairs_init_linkage = 8192
runtime.cuda_linkage_chunk_max_pairs_init_linkage = 0
runtime.cuda_linkage_mem_budget_mb_init_linkage = 512
runtime.cuda_linkage_eval_async_pinned_mb_init_linkage = 256
runtime.cuda_linkage_large_root_xc0_chunk_mb_init_linkage = 256
runtime.cuda_linkage_init_same_layer_tiny_forced_cpu_enable = 1

#[runtime]
runtime.omp_threads = 32
runtime.use_cuda =1
runtime.cuda_allow_tf32 = 1
runtime.cuda_pool_size=32
runtime.cuda_mode = "fast" #strict or fast
runtime.cuda_linkage_single_gpu_min_candidates = 16
runtime.cuda_linkage_same_layer_window_min_pairs = 32
runtime.cuda_linkage_same_layer_block_nodes = 32
runtime.cuda_linkage_same_layer_window_max_pending_nodes = 64
runtime.cuda_linkage_same_layer_preflush_single_shot = 1
runtime.cuda_linkage_same_layer_window_max_pairs = 8192
runtime.cuda_linkage_same_layer_single_gpu_min_candidates = 6
runtime.cuda_linkage_many_nodes_preflush_target_pairs=64
runtime.cuda_linkage_many_nodes_max_pairs =8192
runtime.cuda_linkage_same_layer_preflush_target_pairs = 0
runtime.cuda_linkage_same_layer_tiny_forced_cpu_enable=1
runtime.cuda_linkage_same_layer_tiny_forced_cpu_max_pairs=48
runtime.cuda_linkage_mem_budget_mb=512
runtime.cuda_linkage_large_root_xc0_chunk_mb=256
runtime.linkage_async_io = true
runtime.linkage_async_io_depth = 6
runtime.cuda_linkage_eval_async_pinned_mb=128
runtime.basic_async_io=1
runtime.basic_async_io_depth=6
runtime.basic_async_io_mb=1024
runtime.basic_hybrid_enable = 1
runtime.basic_hybrid_cpu_stride = 15
runtime.basic_hybrid_cpu_threads = 48
runtime.basic_hybrid_reorder_depth = 64
runtime.basic_hybrid_inflight_mb = 0
runtime.basic_async_write_depth = 8

#[io]
io.save_train = 1
io.save_base = 0
io.save_linkage = 0
io.pre_fix = "test_bundle"
io.hdf5_layout = "julia" // "julia" (recommended) or "cxx"
io.index_dtype = "int" // "int" (default) or "uint" (legacy Julia files)
io.load_date = "20260407" // "" => today, "YYYYMMDD" => specific date, "raw" => load io.*_file directly (no suffix)
io.load_seq = "3" # test_bundle 3:m=10 1:m=5
#io.train_file="./results/GIST1M/test_bundle1/test_bundle1_train_m5_20260407_013.h5" //if provide, it's prior
#io.base_file=""
#io.linkage_file="./outputs_opt/GIST1M/test_bundle1_m5__0xc37436ad487701f0/linkage_list"

#[Train]
train.init_samples = 5000000
train.seed = 1985326
train.use_opq_rotation = 1
train.max_R_iters = 20
train.ils_iters = 8
train.icm_iters = 4
train.linkage.num_layers = 14
train.linkage.depth_k = 10
train.linkage.knn_k = 10
train.linkage.use_ils = 1 //false or true
train.linkage.ils_rounds = 4
train.linkage.icm_round = 1
train.log_metrics = 1
train.log_linkage_pre_c1= 0
train.init_linkage_ils_rounds = 4
train.init_linkage_icm_round = 1
train.init_linkage_mode= legacy_root_only //legacy_root_only or fast or hybrid
train.init_linkage_hybrid_varroot_rounds=4

#[train.kmeans]
train.kmeans_iters = 40
train.kmeans_init = "kmeansll" //random or kmeans++ or kmeansll
train.kmeansll_oversample=16
train.kmeansll_rounds=8
train.kmeansll_candidate_cap=0
train.kmeans_streaming=1
train.kmeans_annealing_factor=0.9
train.kmeans_cache_xnorm_device = 0
train.kmeans_pin_host_x = 1
train.kmeans_large_k_threshold=4096
train.kmeans_large_k_top_coarse = 1
train.kmeans_force_disable_device_weights=0
train.kmeans_anneal_mode=onepass
train.kmeans_device_cache_mb = 20480 // ~ 100x for block=20w sift1m

#[Base]
base.encode.seed = 38251450
base.encode.use_abs = true
base.encode.ils_iters = 32
base.encode.icm_iters = 4
base.linkage.use_ils = 1
base.linkage.num_layers = 16
base.linkage.depth_k =15
base.linkage.knn_k = 30
base.linkage.ils_rounds = 4
base.linkage.icm_round = 1
base.encode.H_beam=2

#[Virtual]
virtual.enabled = 1

#[Common-linkage]
hnsw.M = 48
hnsw.candidate_multiplier_good = 1
hnsw.candidate_multiplier_bad = 1
hnsw.ef_construction_cap = 0
